[host]
url: www.pedrorijo91.github.io

[time]
sleep_time: 600

[email]
server: smtp.gmail.com:587
account: mail@gmail.com
password: pass
recipients: mail1@mail.com,mail2@mail.com,mail3@mail.com
body: The website you subscribed is down: www.pedrorijo91.github.io
subject: Website down